html body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding:0;
    font-family: "Helvetica Neue",Helvetica,Arial
}

.titre{
    color:white;
    margin-top: 27px;
    top: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

header{
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    background-color: #800020;
    font-size:20px ;
    height: 100px;
}

.logo{
    position: absolute;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    box-shadow: 0 4px 6px var(--shadow-color);
    float: left;
    top: 0;
}

.navUl{
    display : flex;
    gap: 15px;
    a{color: white;
        text-decoration: none;
    }
    list-style-type: none;
}

.navBar{
    float: right;
    margin-top: -80px;
    margin-right: 100px;
}

.reseauxSociaux{
    a{text-decoration: none;}
    float: right;
    margin-top: -40px;
    gap: 20px;
    margin-right: 30px;
    display: flex;

}

.fb{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.insta{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.twt{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.adresse{
    margin-top: -32px;
}

footer{
    bottom: 0px;
    position:absolute;
    width: 100%;
    background-color: #800020;
    color: #fff;
}

.affiche{
    width: 50px;
}

.audi{
    text-align: center;
    width: 185px ;
    margin-left: 65px;
    margin-top: 150px;
    padding-top: 1px ;
    padding-bottom: 1px;
    border-radius: 5px;
    background:  #800020;
    color: white;
    box-shadow: 0 0 10px black;
    font-size: 20px;
}

.polo{
    text-align: center;
    width: 185px ;
    margin-left: 65px;
    margin-top: 150px;
    padding-top: 1px ;
    padding-bottom: 1px;
    border-radius: 5px;
    background:  #800020;
    color: white;
    box-shadow: 0 0 10px black;
    font-size: 20px;
}

.citroen{
    text-align: center;
    width: 185px ;
    margin-left: 65px;
    margin-top: 150px;
    padding-top: 1px ;
    padding-bottom: 1px;
    border-radius: 5px;
    background:  #800020;
    color: white;
    box-shadow: 0 0 10px black;
    font-size: 20px;
}

.fiat{
    text-align: center;
    width: 185px ;
    margin-left: 65px;
    margin-top: 150px;
    padding-top: 1px ;
    padding-bottom: 1px;
    border-radius: 5px;
    background:  #800020;
    color: white;
    box-shadow: 0 0 10px black;
    font-size: 20px;
}

.toggle-header {
    cursor: pointer;
}

.toggle-header2 {
    cursor: pointer;
}

.toggle-header3 {
    cursor: pointer;
}

.toggle-header4 {
    cursor: pointer;
}


.toggle-content {
    padding: 10px;
    display: none; /* Masquer le contenu par défaut */
    background:  #800020;
    color: white;
    border-top: 1px solid #ccc;
    list-style-type: none;
}

.toggle-content2 {
    padding: 10px;
    display: none; /* Masquer le contenu par défaut */
    background:  #800020;
    color: white;
    border-top: 1px solid #ccc;
    list-style-type: none;
}

.toggle-content3 {
    padding: 10px;
    display: none; /* Masquer le contenu par défaut */
    background:  #800020;
    color: white;
    border-top: 1px solid #ccc;
    list-style-type: none;
}
.toggle-content4 {
    padding: 10px;
    display: none; /* Masquer le contenu par défaut */
    background:  #800020;
    color: white;
    border-top: 1px solid #ccc;
    list-style-type: none;
}


/* Centrer le contenu */
.contenu {
    margin-top: 100px;
    text-align: center;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}


/* Style des boxes */
.voiture {
    float: left;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    width: 250px;
    padding: 15px;
    border-radius: 8px;
    background-color: #800020;
    color:white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 5);
    text-align: center;
    margin: 40px; /* Ajout d'un espacement supplémentaire */
    
}



/* Ajustement des images */
.voiture img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    z-index: 1;
}

/* Style des noms et descriptions */
.nom-marque {
    font-weight: bold;
    margin-top: 10px;
}
.navUl a {
    position: relative;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: color 0.3s ease-in-out;
}

/* Ajout d'une animation de surbrillance */
.navUl a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px; /* Distance de la surbrillance */
    width: 100%;
    height: 3px;
    background-color: white; /* Couleur de la surbrillance */
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}


.navUl a:hover::after {
    transform: scaleX(1); /* Affiche la surbrillance */
}
